/* custom css goes here */

.btn btn-primary btn-sm {
    border: none;
    size: 15px;
}

.btn btn-danger btn-sm {
    contain: none;
    border: none;
    color: brown;
    background-color: #f44336;
}

.tbody {
    width: 683px;
}

.tr.d-flex {
    width: 583px;
}